.BoardCell {
  width: auto;
  border-radius: 6px;
  position: relative;
}

.tetromino {
  
}

.tetromino .Sparkle {
  position: absolute;
  z-index: 10;
  width: 6px;
  height: 6px;
  left: -2px;
  top: -2px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px 4px;
}

.tetromino.ghost {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.tetromino.ghost .Sparkle {
  opacity: 0;
}

.tetromino__i {
  
  border: .20em solid rgba(80, 227, 230, 1);


  box-shadow: 0px 0px 20px -5px rgb(34,34,119);
-webkit-box-shadow: 0px 0px 20px -5px rgb(34,34,119);
-moz-box-shadow: 0px 0px 20px -5px rgb(34,34,119);
  /* background-color: rgba(80, 227, 230, 1); */
}
.tetromino__j {
  border: .20em solid rgba(36, 95, 223, 1);

  
  box-shadow: 0px 0px 20px -5px rgba(36,95,223,0.7);
-webkit-box-shadow: 0px 0px 20px -5px rgba(36,95,223,0.7);
-moz-box-shadow: 0px 0px 20px -5px rgba(36,95,223,0.7);
  /* background-color: rgba(36, 95, 223, 1); */
}
.tetromino__l {
  border: .20em solid rgba(223, 173, 36, 1);


  box-shadow: 0px 0px 20px -5px rgba(223,173,36,0.7);
-webkit-box-shadow: 0px 0px 20px -5px rgba(223,173,36,0.7);
-moz-box-shadow: 0px 0px 20px -5px rgba(223,173,36,0.7);
  /* background-color: rgba(223, 173, 36, 1); */
}
.tetromino__o {
  border: .20em solid rgba(223, 217, 36, 1);

  box-shadow: 0px 0px 20px -5px rgba(223,217,36,0.7);
-webkit-box-shadow: 0px 0px 20px -5px rgba(223,217,36,0.7);
-moz-box-shadow: 0px 0px 20px -5px rgba(223,217,36,0.7);
  /* background-color: rgba(223, 217, 36, 1); */
}
.tetromino__s {
  border: .20em solid rgba(48, 211, 56, 1);

  box-shadow: 0px 0px 20px -5px rgba(48,211,56,0.7);
-webkit-box-shadow: 0px 0px 20px -5px rgba(48,211,56,0.7);
-moz-box-shadow: 0px 0px 20px -5px rgba(48,211,56,0.7);
/* background-color: #00201e; */
  /* background-color: rgba(48, 211, 56, 1); */
}
.tetromino__t {
  border: .20em solid rgba(132, 61, 198, 1);

  box-shadow: 0px 0px 20px -5px rgba(132,61,198,0.7);
-webkit-box-shadow: 0px 0px 20px -5px rgba(132,61,198,0.7);
-moz-box-shadow: 0px 0px 20px -5px rgba(132,61,198,0.7);
  /* background-color: rgba(132, 61, 198, 1); */
}
.tetromino__z {
  border: .20em solid rgba(240, 80, 195, 1);


  box-shadow: 0px 0px 20px -5px rgba(240,80,195,0.7);
-webkit-box-shadow: 0px 0px 20px -5px rgba(240,80,195,0.7);
-moz-box-shadow: 0px 0px 20px -5px rgba(240,80,195,0.7);
  /* background-color: rgba(240, 80, 195, 1); */
}
