.App {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #00201e;
  /* background-color: #007f5f;
  background-color: #3a5268;
  background-color: #00e88a; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  align-items: center;
}